@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f0f0f;
    color: white;
}

.card {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px) scale(1.02);
}

/* Modal */
.modal {
    backdrop-filter: blur(10px);
    animation: fadeIn 0.3s ease;
}

.modal-content {
    animation: zoomIn 0.3s ease;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes zoomIn {
    from {transform: scale(0.8);}
    to {transform: scale(1);}
}

/* Menu */
.menu-btn {
    background-color: #1f1f1f;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background 0.2s;
}

.menu-btn:hover {
    background-color: #f97316; /* naranja */
}

/* Header */
.header-title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #f97316;
    letter-spacing: 1px;
}

.header-desc {
    color: #a1a1aa;
    margin-top: 0.25rem;
}
